@import url('https://fonts.googleapis.com/css?family=Roboto');
			@media only screen and (max-width: 1100px)
			{
				div.header
				{
					width:80%
				}
				div.cuerpo
				{
					width:80%;
				}
				div.partners
				{
					position:relative;
					top:0;
					margin-left:3%;
					float:left;
					margin-top:10px;
					width:30%;
				}
				body ul
				{
					width:84%;
				}
				p
				{
					font-size:0.8em;
				}
				ul
				{
					font-size:1.5em;
				}
			}
			@font-face
			{
				font-family: Pixel;
				src: url(fonts/FreePixel.ttf);
			}

			.header
			{
			  width:50%;
			  margin:auto;
			  margin-bottom:20px;
			  height:150px;
			  background-image:url(images/logo.png);
			  background-repeat:no-repeat;
			  background-size:50%;
			  background-position:center;
			 
			}
			body
			{
			  background-image:url(images/fondo3.jpg);
			  background-attachment:fixed;
			  background-repeat:repeat;
			  background-size:cover;
			  font-family:'Roboto', sans-serif;
			}
			.cuerpo
			{
				width:46%;
				padding:2%;
				padding-top:1%;
				padding-bottom:1%;
				margin:auto;
				background-color:white;
				box-shadow:5px 5px 25px rgba(0,0,0,0.3);
				border-radius: 0 0 5px 5px;
			}
			.partners
			{
				position:absolute;
				top:180px;
				width:15%;
				left:9%;
				background-color:white;
				border-radius:10px 10px 0px 0px;
				margin-bottom:1%;
			}
			.partners .top
			{
				position:relative;
				border-radius:10px 10px 0px 0px;
				width:100%;
				height:50px;
				background-image:url(https://image.freepik.com/free-vector/blue-geometric-technological-background_1055-1907.jpg);
				color:white;
			}
			.partners .top h2
			{
				margin:0;
				text-align:center;
				padding-top:4%;
			}
			.partners img
			{
				width:99%;
				position:relative;
				margin-top:20px;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
				width:50%;
				margin:auto;
				border-radius: 5px 5px 0 0
			}

			li {
				float: left;
				font-size:1.2em;
			}

			li a, .dropbtn {
				display: inline-block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover, .dropdown:hover .dropbtn {
				background-color: #3949AB;
			}

			li.dropdown {
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #3949AB;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: white;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}
			.dropdown-content a:hover
			{
				background-color: #333;
			}
			.dropdown:hover .dropdown-content {
				display: block;
			}